.header {
	background-color: #4aaaa5;
	width: 150px;
	text-align: center;
	color: white;
}

.key {
	float: right;
	width: 30px;
	height: 5px;
	padding-bottom: 100px;
}

.background {
	background-image: url(concrete-texture.png);
	width: 960px;
	text-align: : center;
	padding:;
}