
.header {
	background-color: #4aaaa5;
	width: 150px;
	text-align: center;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.bkgrnd {
	background-image: url(../images/concrete-texture.png);
	width: 960px;
	margin: 0;
	padding: 0;
}

.container {
	background-color: #ffffff;
	border-color: #dddddd;
	font-family: 'Arial', 'Helvetica Nuee', Helvetica, sans-serif;
	padding-top: 10px;
	float: left;
	width: 40%; 
}

.cnct {
	background-color: #ffffff;
	border-color: #dddddd;
	font-family: 'Arial', 'Helvetica Nuee', Helvetica, sans-serif;
	float: right;
	width: 30%;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #666666;
	text-align: center;
}